<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/header :: head}"> <title id="pageTitle">UserList</title>
</head>
<body>
<main class="container" th:insert="~{fragments/body :: main}">
    <div id="body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>